p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: "Roboto", serif;
}

body {

    background-color: #FFD9C0;

    background-color: white;

    background-size: cover;
    width: auto;
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
}
.nav-banner{
    width:100%;
}
.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #FFD9C0;
    font-family: "Roboto", serif;
    font-weight: 700 !important;
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
    margin: auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    width: 200px;
}

.nav-content nav {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
}

.profile {

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.profile h1 {
    font-family: 'Times New Roman', serif;
    font-size: 300%;
    font-weight: 700;
    color: rgb(62, 54, 48);
    margin-top: 100px;
    align-items: center;
}

.profile img {
    /*border-radius: 50%;*/
    max-width: 150%;
    max-height: 150%;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: 1s;
    background-color: #1d539f !important;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.profile h1 {
        font-size: 300%;
        font-weight: 700;
        color: white;
        margin-top:100px;

}

.profile img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;       
        display:inline; display: flex;
        flex-direction: row;
        justify-content: space-around;
        transition: 1s;

}

.profile .profile-picture {
    margin-bottom: 30px;

    height: 200px;
    width: 200px;
    display: inline;
    display: flex;

    height: 200px;display:inline;display: flex;

    flex-direction: row;
    justify-content: space-around;
    transition: 1s;
}

.profile .profile-picture:hover {
    transition: 1s;
    transform: scale(1.6);
}
.banner {
    padding: 20px 0px 50px 0px;
    height: 150px;
    background-color: #2e9800;
}

.banner .logo {
    max-width: 180px;
    max-height: 60px;
    width: auto;
    height: auto;
}

.banner .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}



.about{
	width: 100%;
	padding: 100px 0px;
    background-color: #e28c82;
}
.about img{
    transition: 1s;
    border-radius: 10%;
	height: 430px;
	width: 310px;
}
.about img:hover{
    transition: 1.2s;
    transform: scale(1.1);
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
    font-family: 'Times New Roman', serif;
	color: #FEFBE7;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
    font-family: 'Times New Roman', serif;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
    font-family: 'Times New Roman', serif;
	color: #CCF3EE;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
.major_color{
    color:rgb(255, 230, 128);
}
.hunter_college_color{  /*Aleena's college color*/
    color:rgb(200, 0, 255);
}
.name_college_color{    /*Emily's college color*/
    color:rgb(200, 0, 255);
}
.name_college_color{    /*Zareen's college color*/
    color:rgb(200, 0, 255);
}
.table{
    position: absolute;
    top: 590px;
        height: 20%;
        width: 100%;
        background-color: rgb(97, 84, 76);
}
.scene1{
    
        background-color: #38317b;
        background-size: cover;
        width: auto;
        overflow-x: hidden;
        font-family: "Roboto", serif;
        margin: 0px;
    
}