p,
button {
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

.slider {
    height: 100%;
}

.container {
    width: 100%;
    top: 985px;
    background: #101010;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}

h1 {
    cursor: default;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #40798C;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000153;
}
.card h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 40px;
    top: 50%;
    left: 50%;
    position: absolute;
    padding-top: 100px;
    padding-bottom: 30px;
    transform: translate(-50%, -50%);
}
h6 {
    cursor: default;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    font-size: 70px;
    position: absolute;
    top: 22%;
    left: 22%;
    transform: translate(-50%, -50%);
    color: #40798C;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000153;
}

h4 {
    cursor: default;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    font-size: 70px;
    position: absolute;
    top: 58%;
    right: 8%;
    transform: translate(-50%, -50%);
    color: rgb(139, 245, 238);
    -webkit-text-stroke-width: 1.7px;
    -webkit-text-stroke-color: #000153;
    background-image: linear-gradient(60deg, #40798C, #ffffff, #40798C, #ffffff);
    background-clip: text;
    color: transparent;
}

body {
    background-size: cover;
    width: auto;
    overflow-x: hidden;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    margin: 0px;
}

.about {
    width: 100%;
    padding-top: 100px;
    /*background-color: #edb6b0;*/
    background-color: #DBE3E5;
}

.about img {
    transition: 1s;
    border-radius: 80%;
    width: 250px;
    height: 270px;

}

.about img:hover {
    transition: 1.2s;
    transform: scale(1.1);
}

.about-text {
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
}

.main {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    color: #FEFBE7;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    color: #CCF3EE;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.title h2 {
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: 555px;
    width: 335px;
    padding: 20px 35px;
    background: #202642;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;

}

.pra p {
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.card .button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.title h2 {
    color: #004374;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

h5 {
    padding-top: 90px;
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.major_color {
    color: rgb(255, 230, 128);
}

.hunter_college_color {
    /*Aleena's college color*/
    color: rgb(200, 0, 255);
}

.ontario_college_color1 {
    /*Emily's college color*/
    color: rgb(60, 99, 255);
}
.ontario_college_color2 {
    /*Emily's college color*/
    color: rgb(255, 123, 0);
}
.name_college_color {
    /*Zareen's college color*/
    color: rgb(200, 0, 255);
}
.college_color {
    /*Zareen's college color*/
    color: rgb(255, 102, 0);
}

.table {
    position: absolute;
    top: 590px;
    height: 20%;
    width: 100%;
    background-color: rgb(97, 84, 76);
}



.slide-1,
.slide-2,
.slide-3,
.slide-4 {
    display: block;
    position: absolute;
    width: 100%;
    height: 150%;
}

.slide-1 {
    animation: fade1 20s infinite;
}

.slide-2 {
    animation: fade2 20s infinite;
}

.slide-3 {
    animation: fade3 20s infinite;
}

.slide-4 {
    animation: fade4 20s infinite;
}

@keyframes fade1 {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade2 {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade3 {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade4 {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}