.menu-wrap{
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
}

.menu-wrap .toggler{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Hamburger Menu*/
.menu-wrap .hamburger > div{
    position: relative;
    width: 75%;
    height: 3px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
/*Top and bottom lines */
.menu-wrap .hamburger >div:before,
.menu-wrap .hamburger >div::after{
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 3px;
    background: white;
}
/*Moves line down*/
.menu-wrap .hamburger > div::after{
    top: 10px;
}
/*Toggler animate*/
.menu-wrap .toggler:checked + .hamburger > div{
    transform: rotate(135deg);
}

/*Turn lines into X*/
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div::after{
    top: 0;
    transform: rotate(90deg);
}
/*Rotate on hover when checked*/
.menu-wrap .toggler:checked:hover + .hamburger > div{
    transform: rotate(225deg);
}

/*Show menu*/
.menu-wrap .toggler:checked ~ .menu{
    visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div{
    transform: scale(1);
    transition-duration:var(4ms);
}
.menu-wrap .toggler:checked ~ .menu > div > div{
    opacity: 1;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.menu-wrap .menu > div{
    background: #40798cd7;
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div{
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li{
    list-style: none;
    color: #fff;
    padding: 1rem;
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.menu-wrap .menu > div > div > ul > li{
    color: black;
    text-decoration: none;
    transition: color 0.4s ease;

}