{% extends "portfolio.html" %}

{% block content %}
<title>{% block title%}Aleena's Portfolio{% endblock %}</title>
<link lang='sass' rel="stylesheet" href="./static/styles/portfolio.css">

{% block content2 %}
<h3>{{allUsers.name}}</h3>
<h3>Computer Science student</h3>
<h4>MLH Production Engineer Summer 2022</h4>
{% endblock %}



<!----About section start---->
<section class="about">
    <div class="main">
        <img src="img/main-img.png">
        <div class="about-text">
            <h2>About Me</h2>
            <!--<h5>Developer <span>& Designer</span></h5>-->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</section>
<!------work experience section------>
<div class="work-experience">
    <p>Work Experience</p>
    <div class="blog-card">
        <input type="radio" name="select" id="tap-1" checked>
        <img class="img-1" src="#">
        <input type="radio" name="select" id="tap-2">
        <input type="checkbox" id="imgTap">
        <div class="sliders-work">
            <label for="tap-1" class="tap tap-1"></label>
            <label for="tap-2" class="tap tap-2"></label>

        </div>
        <div class="inner-part">
            <label for="" class="img">
                <img src="./static/img/zareen.jpg">
            </label>
            <div class="contents content-1">
                <span>21 January 2017 - 26 December 2017</span>
                <div class="title">>Lorem ipsum dolor</div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum</div>
            </div>
        </div>
        <div class="inner-part">
            <label for="" class="img">
                <img src="./static/img/logo.jpg">
            </label>
            <div class="contents content-2">
                <span>26 December 2016</span>
                <div class="title">>Lorem ipsum dolor</div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum</div>
            </div>
        </div>
    </div>
</div>

<!-----hobbies section start----------->
<div class="hobbies">
    <div class="title">
        <h2>Hobbies</h2>
    </div>

    <div class="box">
        <div class="card">
            <i class="fa fa-gamepad"></i>
            <h5>Gaming</h5>
            <div class="pra">
                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. </p>

                    <p style="text-align: center;">
                        <a class="button" href="#">Read More</a>
                    </p>
            </div>
        </div>

        <div class="card">
            <i class="far fa-user"></i>
            <h5>Insert Hobby Here</h5>
            <div class="pra">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. </p>

                <p style="text-align: center;">
                    <a class="button" href="#">Read More</a>
                </p>
            </div>
        </div>

        <div class="card">
            <i class="far fa-bell"></i>
            <h5>Insert Hobby Here</h5>
            <div class="pra">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. </p>

                <p style="text-align: center;">
                    <a class="button" href="#">Read More</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!--current/previous education section-->


<!--map of visited places-->
<div class="map-content">
    <h1>Cool places I visted</h1>
    <div class="map-screen">
        <iframe src="/zareen-map" height="500" width="1000" title="Cool places I visted!"></iframe>
    </div>
</div>

<!------footer start--------->
<footer>
    <p>Zareen Kabir</p>
    <p>connect with me!</p>
    <div class="social">
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-discord"></i></a>
    </div>
</footer>
<!--
    <div class="email">
        <form>
            <input type="email" name="email" id="mail" placeholder="Enter Your Email">
            <input type="submit" name="submit" value="Confirm">
        </form>
    </div>-->
</body>
{% endblock %}