<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta property="og:title" content="Personal Portfolio">
        <meta property="og:description" content="My Personal Portfolio">
        <meta property="og:url" content="{{ url }}">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link rel="stylesheet" href="./static/styles/menu.css">
        <link rel='icon' href='./static/img/ellogo.png' type='image/x-icon' />

        <div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger">
                <div></div>
            </div>
            <div class="menu">
                <div>
                    <div>
                        <ul>
                            <li><a href="/">Homepage</a></li>
                            <li><a href="/aleena-tim-portfolio">Aleena's Portfolio</a></li>
                            <li><a href="/emily-lai-portfolio">Emily's Portfolio</a></li>
                            <li><a href="/zareen-kabir-portfolio">Zareen's Portfolio</a></li>
                            <li><a href="/hobbies">Our Hobbies</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}

</html>