<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./static/styles/menu.css">
    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/nightcat.jpg' type='image/x-icon' />
    <title>{{ title }}</title>
</head>
<!---->
<div class="slider">
    <img src="./static/img/1.gif" class="slide-1">
    <img src="./static/img/2.gif" class="slide-2">
    <img src="./static/img/temp3.gif" class="slide-3">
    <img src="./static/img/4.gif" class="slide-4">
    <h6>Meet the</h6>
    <h1>Pipelining Penguins</h1>
    <h4>Team 1</h4>
</div>


<body>
    <div class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger">
            <div></div>
        </div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a href="/">Homepage</a></li>
                        <li><a href="/aleena-portfolio">Aleena's Portfolio</a></li>
                        <li><a href="#">Emily's Portfolio</a></li>
                        <li><a href="/zareen-portfolio">Zareen's Portfolio</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--- <header class="showcase">
        <div class="container showcase-inner">
            <h1>Welcome</h1>
            <p>Lorem ipsum dolor</p>
            <a href="#" class="btn">rRead More</a>
        </div>
    </header>--->


    <!----Aleena Tim section---->
    <div class="container">
        <div class="about">
            <div class="title">
                <h2>Meet the Team!</h2>
            </div>

            <div class="box">
                <div class="card">
                    <i class="fa fa-gamepad"></i>
                    <a href="/aleena-portfolio"><img src="./static/img/aleena.jpg"></a>
                    <h5><span class="major_color">Computer Science Student<br></span><span class="hunter_college_color">
                            @
                            Hunter College</span></h5>
                    <div class="pra">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. </p>

                        <p style="text-align: center;">
                            <a class="button" href="#">Read More</a>
                        </p>
                    </div>
                </div>

                <div class="card">
                    <i class="far fa-user"></i>
                    <a href="/aleena-portfolio"><img src="./static/img/logo.jpg"></a>
                    <h5>Insert Hobby Here</h5>
                    <div class="pra">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. </p>

                        <p style="text-align: center;">
                            <a class="button" href="#">Read More</a>
                        </p>
                    </div>
                </div>

                <div class="card">
                    <i class="far fa-bell"></i>
                    <a href="/aleena-portfolio"><img src="./static/img/zareen.jpg"></a>
                    <h5>Insert Hobby Here</h5>
                    <div class="pra">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. </p>

                        <p style="text-align: center;">
                            <a class="button" href="#">Read More</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
</div>
=======




    </div>
</body>

</html>
</html>