<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/nightcat.jpg' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
            <a href="/">
                <div class="nav-logo"><!--Drop down menu-->
                    <img src="" />
                </div>
            </a>
        </div>
    </header>

    


</body>
<!----Aleena Tim section---->
<section class="about">
    <div class="main">
        <a href="/base-portfolio"><img src="./static/img/aleena.jpg"></a>
        <div class="about-text">
            <h2>Aleena Tim</h2>
            <h5><span class="major_color">Computer Science Student</span><span class="hunter_college_color"> @ Hunter College</span></h5>
            <p>    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button type="button">Find out more!</button>
        </div>
    </div>
</section>
<!----Emily Lai section---->
<section class="about">
    <div class="main">
        <img src="./static/img/logo.jpg">
        <div class="about-text">
            <h2>Emily Lai</h2>
            <h5><span class="major_color">Computer Science Student</span><span class="hunter_college_color"> @ Hunter College</span></h5>
            <p>    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button type="button">Find out more!</button>
        </div>
    </div>
</section>
<!----Zareen Kabir section---->
<section class="about">
    <div class="main">
        <img src="./static/img/logo.jpg">
        <div class="about-text">
            <h2>Zareen Kabir</h2>
            <h5><span class="major_color">Computer Science Student</span><span class="hunter_college_color"> @ Hunter College</span></h5>
            <p>    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button type="button">Find out more!</button>
        </div>
    </div>
</section>
</html>